@import "../../../../../assets/styles/practicalValue";
.body-form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-flow: column;
  .btn {
    background-color: forestgreen;
    font-size: 20px;
    padding: 10px;
    margin: 10px 0 50px 0;
    color: black;
    border-radius: 5px;
  }
  .body-role{
    display: flex;
    justify-content: space-around;
    .body-input-role{
      width: 40%;
      label{
        font-size: 17px;
        padding: 0 10px;
      }
      input{
        width: 40px;
        height: 40px;
      }
    }
  }
  .body-input {
    margin-top: 5px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    input {
      padding-right: 10px;
      color: black;
      margin-bottom: 10px;
      border-radius: 5px;
      height: 50px;
      width:100%;
      &:focus {
        outline: none;
      }
    }
    .select-list{
      text-align: center;
      width: 100%;
      height: 50px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 17px;
    }
    label {
      font-size: 20px;
    }
    textarea{
      width: 100%;
      padding: 10px;
      height: 50px;
    }
  }
}
