<div class="body">
  <form [formGroup]="typeEditForm" (ngSubmit)="typeEdit()">
    <div class="body-form">
      <div class="body-input">
        <label for="parentTypeId">انتخاب دسته بندی مادر</label>
        <select name="parentTypeId" class="select-list" formControlName="parentTypeId" id="parentTypeId"
                [ngClass]="typeEditForm.controls.parentTypeId.errors?.required ? 'input-error' :'input-success'">
          <option selected value="00000000-0000-0000-0000-000000000000">دسته بندی مادر</option>
          <ng-container *ngFor="let type of typesDto">
            <option *ngIf="type?.id!=typeDto?.id" [defaultSelected]="type?.id == typeDto?.parentTypeId " value="{{type?.id}}" >{{type?.name}}</option>
          </ng-container>
        </select>
        <div class="error"
             *ngIf="typeEditForm.controls.parentTypeId.errors?.required ">
          لطفا دسته بندی را انتخاب کنید !
        </div>
      </div>
      <div class="body-input">
        <label for="name">نام دسته بندی</label>
        <input type="text" placeholder="نام..." id="name" (focusout)="slugify()" formControlName="name" [ngClass]="
                     typeEditForm.controls.name.touched && typeEditForm.controls.name.errors?.required
                     || typeEditForm.controls.name.errors?.maxlength ||
                     typeEditForm.controls.name.errors?.minlength ? 'input-error' :'input-success'">
        <div class="error"
             *ngIf="typeEditForm.controls.name.errors?.required &&typeEditForm.controls.name.touched">
          لطفا نام دسته بندی را وارد کنید !
        </div>
        <div class="error" *ngIf=" typeEditForm.controls.name.hasError('maxlength')">تعداد
          کاراکتر ها نمیتواند بیشتر از 30 باشد !
        </div>
        <div class="error" *ngIf=" typeEditForm.controls.name.hasError('minlength')">تعداد
          کاراکتر ها نمیتواند کمتر از 3 باشد !
        </div>
      </div>
      <div class="body-input">
        <label for="slug">اسلاگ </label>
        <input type="text" placeholder="اسلاگ..." id="slug" formControlName="slug" [ngClass]="
                     typeEditForm.controls.slug.touched && typeEditForm.controls.slug.errors?.required
                     || typeEditForm.controls.slug.errors?.maxlength ||
                     typeEditForm.controls.slug.errors?.minlength ? 'input-error' :'input-success'">
        <div class="error"
             *ngIf="typeEditForm.controls.slug.errors?.required &&typeEditForm.controls.slug.touched">
          لطفا اسلاگ  محصول را وارد کنید !
        </div>
        <div class="error" *ngIf=" typeEditForm.controls.slug.hasError('maxlength')">تعداد
          کاراکتر ها نمیتواند بیشتر از 30 باشد !
        </div>
        <div class="error" *ngIf=" typeEditForm.controls.slug.hasError('minlength')">تعداد
          کاراکتر ها نمیتواند کمتر از 3 باشد !
        </div>
      </div>
      <div class="body-input">
        <label for="description">توضیحات</label>
        <input type="text" placeholder="توضیحات..." id="description" formControlName="description" [ngClass]="
                     typeEditForm.controls.description.touched && typeEditForm.controls.description.errors?.required
                     || typeEditForm.controls.description.errors?.maxlength ||
                     typeEditForm.controls.description.errors?.minlength ? 'input-error' :'input-success'">
        <div class="error"
             *ngIf="typeEditForm.controls.description.errors?.required &&typeEditForm.controls.description.touched">
          لطفا توضیحات را وارد کنید !
        </div>
        <div class="error" *ngIf=" typeEditForm.controls.description.hasError('maxlength')">تعداد
          کاراکتر ها نمیتواند بیشتر از 500 باشد !
        </div>
        <div class="error" *ngIf=" typeEditForm.controls.description.hasError('minlength')">تعداد
          کاراکتر ها نمیتواند کمتر از 10 باشد !
        </div>
      </div>
      <div class="body-input">
        <label for="metaDescription">توضیحات متا</label>
        <textarea  placeholder="توضیحات متا..." id="metaDescription" formControlName="metaDescription" [ngClass]="
                     typeEditForm.controls.metaDescription.touched && typeEditForm.controls.metaDescription.errors?.required
                     || typeEditForm.controls.metaDescription.errors?.maxlength ||
                     typeEditForm.controls.metaDescription.errors?.minlength ? 'input-error' :'input-success'"></textarea>
        <div class="error"
             *ngIf="typeEditForm.controls.metaDescription.errors?.required &&typeEditForm.controls.metaDescription.touched">
          لطفا توضیحات متا را وارد کنید !
        </div>
        <div class="error" *ngIf=" typeEditForm.controls.metaDescription.hasError('maxlength')">تعداد
          کاراکتر ها نمیتواند بیشتر از 500 باشد !
        </div>
        <div class="error" *ngIf=" typeEditForm.controls.metaDescription.hasError('minlength')">تعداد
          کاراکتر ها نمیتواند کمتر از 10 باشد !
        </div>
      </div>
      <div class="body-input">
        <label for="summary">سامری</label>
        <input type="text" id="summary" formControlName="summary" [ngClass]="
                     typeEditForm.controls.summary.touched && typeEditForm.controls.summary.errors?.required
                     || typeEditForm.controls.summary.errors?.maxlength ||
                     typeEditForm.controls.summary.errors?.minlength ? 'input-error' :'input-success'">
        <div class="error"
             *ngIf="typeEditForm.controls.summary.errors?.required &&typeEditForm.controls.summary.touched">
          لطفا سامری را وارد کنید !
        </div>
        <div class="error" *ngIf=" typeEditForm.controls.summary.hasError('maxlength')">تعداد
          کاراکتر ها نمیتواند بیشتر از 500 باشد !
        </div>
        <div class="error" *ngIf=" typeEditForm.controls.summary.hasError('minlength')">تعداد
          کاراکتر ها نمیتواند کمتر از 10 باشد !
        </div>
      </div>
      <div class="body-role">
          <div  class="body-input-role">
            <label class="label-role" for="boss" >فعال؟:</label>
            <input type="checkbox" id="boss" formControlName="isActive">
          </div>
          <div class="body-input-role">
            <label for="boss">حذف منطقی:</label>
            <input type="checkbox" formControlName="isDelete">
          </div>
        </div>
      <button type="submit" class="btn" [disabled]="!typeEditForm.valid || typeEditForm.pristine"   [ngClass]="!typeEditForm.valid ? 'disable':''">ثبت دسته بندی</button>
    </div>
  </form>
</div>
