.search-bar {
  width: 100%;
  height:40px;
  display: flex;
  .select-left-filters {
    width: 50%;
    select {
      width: 100%;
      height: 40px;
      font-size: 17px;
    }
  }
  .container-search-btn {
    width: 50%;
    height: 100%;
    position: relative;
    .input-search {
      width: 100%;
      height: 100%;
      padding: 0 10px;
    }
    .btn-search {
      position: absolute;
      left: 0;
      height: 100%;
      width: 20%;
      background: black;
      color: burlywood;
      z-index: 2;
      font-size: 17px;
      &:hover {
        background: saddlebrown;
      }
    }
  }
}
