
<div class="container-search">
  <div class="search-bar">

    <div class="container-search-btn">
      <input type="text" #name  class="input-search" placeholder="نام..." (keyup.enter)="changeNameSearch()">
      <button class="btn-search" (click)="changeNameSearch()"><i class="fa fa-search"></i></button>
    </div>
    <div class="select-left-filters">
      <select (change)="onChangeSortType($any($event.target)?.value)">
        <option [selected]="item.key=== brandParam?.sortType" class="option" *ngFor="let item of sortType" [value]="item?.key">{{item?.title}}</option>
      </select>
    </div>
  </div>

</div>
