.search-bar {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: start;
  align-items: start;
  .container-search-btn {
    width: 50%;
    height: 100%;
    position: relative;
    border: 1px solid black;
    .input-search {
      width: 100%;
      height: 100%;
      padding: 0 10px;
    }
    .btn-search {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 20%;
      background: black;
      color: burlywood;
      z-index: 2;
      border: 1px solid black;
      font-size: 1.5vh;

      &:hover {
        background: saddlebrown;
      }
    }
  }
  .select-left-filters{
    width: 50%;
    select{
      width:100%;
      height: 40px;
      font-size: 17px;
      background-color: lightblue;
      option{
        background-color: lightblue;
      };
    }
  }
}
.select-filters {
  display: flex;
  select {
    height: 40px;
    width: 33.333%;
    font-size: 17px;
    background-color: lightblue;
    .option{
      background: lightblue;
    }
  }
}
