<nav class="nav">
  <ul class="nav-ul">
    <li class="nav-ul-li" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="./ProductMain" routerLinkActive="active">
        <i class="fa-solid fa-border-all nav-ul-li-i" aria-hidden="true">
        </i>
        محصولات</a>
    </li>

    <li class="nav-ul-li" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="./ProductAdd"><i class="fa-solid fa-book-medical nav-ul-li-i" aria-hidden="true">
      </i>افزودن محصول</a>
    </li>
  </ul>
</nav>
