<nav class="nav">
  <ul class="nav-ul">
    <a routerLink="./ProductMain" routerLinkActive="active">
      <li class="nav-ul-li" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="fa-solid fa-border-all nav-ul-li-i" aria-hidden="true">
        </i>
        محصولات
      </li>
    </a>
    <a routerLink="./ProductAdd">
      <li class="nav-ul-li" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="fa-solid fa-book-medical nav-ul-li-i" aria-hidden="true">
        </i>افزودن محصول
      </li>
    </a>
  </ul>
</nav>
