<div class="nav">
  <div class="logo-container">
    <div class="logo">
      <img src="assets/images/logo3.png" width="60px" height="60px" alt="">
    </div>
    <div class="logo-text"></div>
  </div>

  <a [routerLink]="user.phoneNumber" *ngFor="let user of (chatService.usersInGroups$ | async)">
    <div class="user-container " [class.online]="(presenceService.usersOnline$ | async).includes(user.phoneNumber)">
      <div class="user-img ">
        <img src="assets/images/userIcon.png">
      </div>
      <div class="logo-text">{{user.username}}</div>
    </div>
  </a>
</div>
