td, th {
  padding: 10px;
  text-align: center;
}
tr{
  border: 1px solid black;
}
table {
  width: 100%;
  border-collapse: collapse;
}
tbody tr:nth-child(odd) {
  background: navajowhite;
}
tbody tr:nth-child(even) {
  background:blanchedalmond;
}
button{
  border-radius: 5px;
  font-size: 15px;
  &:hover{
    cursor: pointer;
  }
  width: 75px;
  height: 75px;
  margin: 3px;
  box-shadow: 0 0 6px burlywood;
  border: 1px solid black;
}
.container-btn{
  display: flex;
  justify-content: space-around;
  .btn-remove{
    color: red;
  }
}
