<div class="body">
<div class="title-image">
  <img src="{{backendUrlPicture}}{{productPictureUrl}}" width="200px" height="200px">
</div>
<form [formGroup]="productItemAddForm" (ngSubmit)="productItemAdd()">
  <div class="body-form">
    <div class="body-input">
      <label for="name">نام ایتم محصول</label>
      <input type="text" placeholder="نام ایتم محصول..." id="name" formControlName="name" [ngClass]="
                     productItemAddForm.controls.name.touched && productItemAddForm.controls.name.errors?.required
                     || productItemAddForm.controls.name.errors?.maxlength ||
                     productItemAddForm.controls.name.errors?.minlength ? 'input-error' :'input-success'">
      <div class="error"
           *ngIf="productItemAddForm.controls.name.errors?.required &&productItemAddForm.controls.name.touched">
        لطفا نام ایتم محصول را وارد کنید !
      </div>
      <div class="error" *ngIf=" productItemAddForm.controls.name.hasError('maxlength')">تعداد
        کاراکتر ها نمیتواند بیشتر از 30 باشد !
      </div>
      <div class="error" *ngIf=" productItemAddForm.controls.name.hasError('minlength')">تعداد
        کاراکتر ها نمیتواند کمتر از 2 باشد !
      </div>
    </div>
    <div class="body-input">
      <label for="value">مقدار ایتم محصول</label>
      <input type="text" placeholder="نام ایتم محصول..." id="value" formControlName="value" [ngClass]="
                     productItemAddForm.controls.value.touched && productItemAddForm.controls.value.errors?.required
                     || productItemAddForm.controls.value.errors?.maxlength ||
                     productItemAddForm.controls.value.errors?.minlength ? 'input-error' :'input-success'">
      <div class="error"
           *ngIf="productItemAddForm.controls.value.errors?.required &&productItemAddForm.controls.value.touched">
        لطفا مقدار ایتم محصول را وارد کنید !
      </div>
      <div class="error" *ngIf=" productItemAddForm.controls.value.hasError('maxlength')">تعداد
        کاراکتر ها نمیتواند بیشتر از 30 باشد !
      </div>
      <div class="error" *ngIf=" productItemAddForm.controls.value.hasError('minlength')">تعداد
        کاراکتر ها نمیتواند کمتر از 1 باشد !
      </div>
    </div>
    <button type="submit" class="btn" [disabled]="!productItemAddForm.valid"
            [ngClass]="!productItemAddForm.valid ? 'disable':''">ثبت ایتم محصول
    </button>
  </div>
</form>
</div>
