<div style="overflow-y: auto" class="result">
  <table>
    <thead>
    <tr>
      <th>فعال؟</th>
      <th>عکس</th>
      <th>عملیات</th>
      <th>ترتیب</th>
      <th>Title</th>
      <th>Alt</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of storeUserPicturesDto">
      <td>
        <i style="color:green" class="fa-solid fa-check" *ngIf="item.isActive"></i>
        <i style="color:red" class="fa-solid fa-xmark" *ngIf="!item.isActive"></i>
      </td>
      <td class="picture"><img src="{{backendUrlPicture}}{{item.pictureUrl}}" width="100px" height="100px"
                               alt="{{item.pictureAlt}}" title="{{item.pictureTitle}}"></td>
      <td>
        <div class="container-btn">
          <a routerLink="../StoreUserPictureEdit/{{item.id}}">
            <button class="btn-edit">اپدیت<i class="fa-solid fa-pen"></i></button>
          </a>
          <button class="btn-remove" (click)="storeUserPictureDelete(item.id)">حذف<i class="fa-solid fa-trash"></i></button>
        </div>
      </td>
      <td>{{item.sort}}</td>
      <td>{{item.pictureTitle}}</td>
      <td>{{item.pictureAlt}}</td>
    </tr>
    </tbody>
  </table>
</div>

