<nav class="nav">
  <ul class="nav-ul">
    <li class="nav-ul-li" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="./ProductPictureMain" routerLinkActive="active">
        <i class="fa-solid fa-images nav-ul-li-i" aria-hidden="true">
        </i>
        عکس ها</a>
    </li>
    <li class="nav-ul-li" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="./ProductPictureAdd">
        <i class="fa-solid fa-image nav-ul-li-i" aria-hidden="true">
        </i>افزودن عکس</a>
    </li>
  </ul>
</nav>
