<nav class="nav">
  <ul class="nav-ul">
    <li class="nav-ul-li" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="./main" routerLinkActive="active">
        <i class="fa-solid fa-users nav-ul-li-i" aria-hidden="true">
        </i>
        اصلی</a>
    </li>

    <li class="nav-ul-li" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="add"><i class="fa-solid fa-person-circle-plus nav-ul-li-i" aria-hidden="true">
      </i>افزودن</a>
    </li>

<!--    <li class="nav-ul-li "  routerLinkActive="active">
      &lt;!&ndash;      <div class="count" *ngIf="customerBasket$ | async as customerBasket">{{customerBasket.customerBasketItems.length}}</div>&ndash;&gt;
      <a routerLink="/inventory">
        <i class="fa-solid fa-user-tag nav-ul-li-i" aria-hidden="true">
        </i>نقش</a>
    </li>-->

<!--    <li class="nav-ul-li" routerLinkActive="active">
      <a routerLink="/shopSeller">
        <i class="fa-solid fa-handshake nav-ul-li-i" aria-hidden="true">
        </i><br>فروشنده</a>
    </li>

    <li class="nav-ul-li" routerLinkActive="active">
      <a routerLink="/chat"><i class="fa fa-comments nav-ul-li-i" aria-hidden="true">
      </i><br>چت</a>
    </li>-->

<!--    <li class="nav-ul-li" routerLinkActive="active">
      <a routerLink="/commenting"><i class="fa fa-comment nav-ul-li-i" aria-hidden="true">
      </i><br>کامنت</a>
    </li>-->
    <!--    <li class="nav-ul-li" routerLinkActive="active">
          <a routerLink="/auth"><i class=" fa-solid fa-money-check-dollar nav-ul-li-i" aria-hidden="true">
          </i><br>مالی</a>
        </li>-->
  </ul>
</nav>
