<div class="body-component">
  <form [formGroup]="brandEditForm" (ngSubmit)="brandEdit()">
    <div class="body-form">
      <div class="body-input">
        <label for="name">نام  برند</label>
        <input type="text" placeholder="نام..." id="name" formControlName="name" [ngClass]="
                     brandEditForm.controls.name.touched && brandEditForm.controls.name.errors?.required
                     || brandEditForm.controls.name.errors?.maxlength ||
                     brandEditForm.controls.name.errors?.minlength ? 'input-error' :'input-success'">
        <div class="error"
             *ngIf="brandEditForm.controls.name.errors?.required &&brandEditForm.controls.name.touched">
          لطفا نام  برند را وارد کنید !
        </div>
        <div class="error" *ngIf=" brandEditForm.controls.name.hasError('maxlength')">تعداد
          کاراکتر ها نمیتواند بیشتر از 30 باشد !
        </div>
        <div class="error" *ngIf=" brandEditForm.controls.name.hasError('minlength')">تعداد
          کاراکتر ها نمیتواند کمتر از 3 باشد !
        </div>
      </div>
      <div class="body-input">
        <label for="description">توضیحات</label>
        <input type="text" placeholder="توضیحات..." id="description" formControlName="description" [ngClass]="
                     brandEditForm.controls.description.touched && brandEditForm.controls.description.errors?.required
                     || brandEditForm.controls.description.errors?.maxlength ||
                     brandEditForm.controls.description.errors?.minlength ? 'input-error' :'input-success'">
        <div class="error"
             *ngIf="brandEditForm.controls.description.errors?.required &&brandEditForm.controls.description.touched">
          لطفا توضیحات را وارد کنید !
        </div>
        <div class="error" *ngIf=" brandEditForm.controls.description.hasError('maxlength')">تعداد
          کاراکتر ها نمیتواند بیشتر از 500 باشد !
        </div>
        <div class="error" *ngIf=" brandEditForm.controls.description.hasError('minlength')">تعداد
          کاراکتر ها نمیتواند کمتر از 10 باشد !
        </div>
      </div>
      <div class="body-input">
        <label for="metaDescription">توضیحات متا</label>
        <textarea  placeholder="توضیحات متا..." id="metaDescription" formControlName="metaDescription" [ngClass]="
                     brandEditForm.controls.metaDescription.touched && brandEditForm.controls.metaDescription.errors?.required
                     || brandEditForm.controls.metaDescription.errors?.maxlength ||
                     brandEditForm.controls.metaDescription.errors?.minlength ? 'input-error' :'input-success'"></textarea>
        <div class="error"
             *ngIf="brandEditForm.controls.metaDescription.errors?.required &&brandEditForm.controls.metaDescription.touched">
          لطفا توضیحات متا را وارد کنید !
        </div>
        <div class="error" *ngIf=" brandEditForm.controls.metaDescription.hasError('maxlength')">تعداد
          کاراکتر ها نمیتواند بیشتر از 500 باشد !
        </div>
        <div class="error" *ngIf=" brandEditForm.controls.metaDescription.hasError('minlength')">تعداد
          کاراکتر ها نمیتواند کمتر از 10 باشد !
        </div>
      </div>
      <div class="body-input">
        <label for="summary">سامری</label>
        <input type="text" id="summary" formControlName="summary" [ngClass]="
                     brandEditForm.controls.summary.touched && brandEditForm.controls.summary.errors?.required
                     || brandEditForm.controls.summary.errors?.maxlength ||
                     brandEditForm.controls.summary.errors?.minlength ? 'input-error' :'input-success'">
        <div class="error"
             *ngIf="brandEditForm.controls.summary.errors?.required &&brandEditForm.controls.summary.touched">
          لطفا سامری را وارد کنید !
        </div>
        <div class="error" *ngIf=" brandEditForm.controls.summary.hasError('maxlength')">تعداد
          کاراکتر ها نمیتواند بیشتر از 500 باشد !
        </div>
        <div class="error" *ngIf=" brandEditForm.controls.summary.hasError('minlength')">تعداد
          کاراکتر ها نمیتواند کمتر از 10 باشد !
        </div>
      </div>
      <button type="submit" class="btn" [disabled]="!brandEditForm.valid || brandEditForm.pristine"
              [ngClass]="!brandEditForm.valid ||brandEditForm.pristine ? 'disable':''">اپدیت برند</button>
    </div>
  </form>
</div>
