<div class="container-search">
  <div class="search-bar">
    <div class="container-search-btn">
      <input type="number" #price  class="input-search" placeholder="قیمت..." (keyup.enter)="changePriceSearch()">
      <button class="btn-search" (click)="changePriceSearch()"><i class="fa fa-search"></i></button>
    </div>
    <div class="container-search-btn">
      <input type="number" #count class="input-search" placeholder="تعداد ..." (keyup.enter)="changeCountSearch()">
      <button class="btn-search" (click)="changeCountSearch()"><i class="fa fa-search"></i></button>
    </div>
  </div>
  <div class="select-filters">
    <div class="select-right-filters">
      <select (change)="onChangeInventoryOperationType($any($event.target)?.value)">
        <option class="option" value="0">نوع گزارش؟</option>
        <option [selected]="item.key=== inventoryOperationParamDto?.inventoryOperationType" class="option" *ngFor="let item of inventoryOperationType" [value]="item?.key">{{item?.title}}</option>
      </select>
    </div>
    <div class="select-left-filters">
      <select (change)="onChangeSortType($any($event.target)?.value)">
        <option [selected]="item.key=== inventoryOperationParamDto?.sortType" class="option" *ngFor="let item of sortType" [value]="item?.key">{{item?.title}}</option>
      </select>
    </div>
    <div class="select-left-filters">
      <select (change)="onChangeInventory($any($event.target)?.value)">
        <option class="option" value="">انبار؟</option>
        <option [selected]="item.id=== inventoryOperationParamDto?.inventoryId" class="option" *ngFor="let item of inventoriesDto" [value]="item?.id">{{item?.name}}</option>
      </select>
    </div>
  </div>
</div>
