
<nav class="nav">
  <ul class="nav-ul">
    <li class="nav-ul-li" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="./StoreMain" routerLinkActive="active">
        <i class="fa-solid fa-city nav-ul-li-i" aria-hidden="true">
        </i>
        مغازه ها</a>
    </li>
    <li class="nav-ul-li" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="StoreAdd"><i class="fa-solid fa-clinic-medical nav-ul-li-i" aria-hidden="true">
      </i>افزودن مغازه</a>
    </li>
  </ul>
</nav>
