<div class="body-component">
  <form [formGroup]="userEditForm" (ngSubmit)="userEdit()">
    <div class="body-form">
      <div class="body-input">
        <label for="phoneNumber">شماره موبایل</label>
        <input type="text" id="phoneNumber" formControlName="phoneNumber" [ngClass]="
                     userEditForm.controls.phoneNumber.touched && userEditForm.controls.phoneNumber.errors?.required
                     || userEditForm.controls.phoneNumber.errors?.maxlength ||
                     userEditForm.controls.phoneNumber.errors?.minlength ? 'input-error' :'input-success'">
        <div class="error"
             *ngIf="userEditForm.controls.phoneNumber.errors?.required &&userEditForm.controls.phoneNumber.touched">
          لطفا شماره را وارد کنید !
        </div>
        <div class="error" *ngIf=" userEditForm.controls.phoneNumber.hasError('maxlength')">تعداد
          کاراکتر ها نمیتواند بیشتر از 11 باشد !
        </div>
        <div class="error" *ngIf=" userEditForm.controls.phoneNumber.hasError('minlength')">تعداد
          کاراکتر ها نمیتواند کمتر از 11 باشد !
        </div>
        <div class="error" *ngIf=" userEditForm.controls.phoneNumber.hasError('pattern')">شماره همراه صحیح نمیباشد !</div>
      </div>

      <div class="body-input">
        <label for="userName">نام کاربری </label>
        <input type="text" placeholder="نام کاربری ..." id="userName" formControlName="userName" [ngClass]="
                     userEditForm.controls.userName.touched && userEditForm.controls.userName.errors?.required
                     || userEditForm.controls.userName.errors?.maxlength ||
                     userEditForm.controls.userName.errors?.minlength ? 'input-error' :'input-success'">
        <div class="error"
             *ngIf="userEditForm.controls.userName.errors?.required &&userEditForm.controls.userName.touched">
          لطفا گذرواژه را وارد کنید !
        </div>
        <div class="error" *ngIf=" userEditForm.controls.userName.hasError('maxlength')">تعداد
          کاراکتر ها نمیتواند بیشتر از 30 باشد !
        </div>
        <div class="error" *ngIf=" userEditForm.controls.userName.hasError('minlength')">تعداد
          کاراکتر ها نمیتواند کمتر از 8 باشد !
        </div>
      </div>
      <div class="body-input">
        <label for="password">گذر واژه </label>
        <input type="text" placeholder="پسوورد ..." id="password" formControlName="password" [ngClass]="
                     userEditForm.controls.password.touched && userEditForm.controls.password.errors?.required
                     || userEditForm.controls.password.errors?.maxlength ||
                     userEditForm.controls.password.errors?.minlength ? 'input-error' :'input-success'">
        <div class="error"
             *ngIf="userEditForm.controls.password.errors?.required &&userEditForm.controls.password.touched">
          لطفا گذرواژه را وارد کنید !
        </div>
        <div class="error" *ngIf=" userEditForm.controls.password.hasError('maxlength')">تعداد
          کاراکتر ها نمیتواند بیشتر از 30 باشد !
        </div>
        <div class="error" *ngIf=" userEditForm.controls.password.hasError('minlength')">تعداد
          کاراکتر ها نمیتواند کمتر از 8 باشد !
        </div>
      </div>

      <div class="body-input-confirm">
        <label for="phoneNumberConfirmed">تایید شماره تلفن</label>
        <input type="checkbox" id="phoneNumberConfirmed" formControlName="phoneNumberConfirmed">
      </div>

      <div class="body-input-role">
        <label>نقش کاریر</label>
        <div formGroupName="roles"  class="body-nested-role">
          <div  class="body-input-role">
            <label class="label-role" for="boss" >مدیر</label>
            <input type="checkbox" id="boss" formControlName="boss">
          </div>
          <div class="body-input-role">
            <label for="boss">پشتیبان</label>
            <input type="checkbox" formControlName="admin">
          </div>
          <div class="body-input-role">
            <label for="boss">فروشنده</label>
            <input type="checkbox" formControlName="seller">
          </div>
          <div class="body-input-role">
            <label for="boss">کاربر</label>
            <input type="checkbox" formControlName="user">
          </div>
        </div>
        <button type="submit" class="btn" [disabled]="!userEditForm.valid" [ngClass]="!userEditForm.valid ? 'disable':''">ثبت کاربر</button>
      </div>
    </div>
  </form>
</div>

