<nav class="nav" *appPermissionRole="['Boss','Admin','Seller']">
  <ul class="nav-ul">
    <a routerLink="/User" *appPermissionRole="['Boss','Admin']">
      <li class="nav-ul-li" routerLinkActive="active">
        <i class="fa-solid fa-user nav-ul-li-i" routerLinkActive="fa-bounce" aria-hidden="true">
        </i>
        <br>کاربران
      </li>
    </a>
    <a routerLink="/Shop">
      <li class="nav-ul-li" routerLinkActive="active">
        <i class="fa-solid fa-shop nav-ul-li-i" routerLinkActive="fa-bounce" aria-hidden="true">
        </i><br>فروشگاه
      </li>
    </a>
    <a routerLink="/Repository" *appPermissionRole="['Seller']">
      <li class="nav-ul-li " routerLinkActive="active">
        <i class="fa-solid fa-layer-group nav-ul-li-i" routerLinkActive="fa-bounce" aria-hidden="true">
        </i><br>انبار
      </li>
    </a>
    <a routerLink="/Store" *appPermissionRole="['Boss','Admin']">
      <li class="nav-ul-li" routerLinkActive="active">
        <i class="fa-solid fa-handshake nav-ul-li-i" routerLinkActive="fa-bounce" aria-hidden="true">
        </i><br>مغازه ها
      </li>
    </a>
    <a routerLink="/StoreUser" *appPermissionRole="['Seller']">
      <li class="nav-ul-li" routerLinkActive="active">
        <i class="fa-solid fa-store nav-ul-li-i" routerLinkActive="fa-bounce" aria-hidden="true">
        </i><br>مغازه
      </li>
    </a>
    <a routerLink="/Chat">
      <li class="nav-ul-li" routerLinkActive="active">
        <span class="message-count" *ngIf="(presenceService.messageUnReadDtos$ | async)?.length>0">{{(presenceService.messageUnReadDtos$ | async)?.length}}</span>
        <i class="fa fa-comments nav-ul-li-i" routerLinkActive="fa-bounce" aria-hidden="true">
        </i><br>چت
      </li>
    </a>
    <a (click)="logout()">
      <li class="nav-ul-li">
        <i class="fa fa-door-open nav-ul-li-i" aria-hidden="true">
        </i><br>خروج
      </li>
    </a>
  </ul>
</nav>
