<nav class="nav" *appPermissionRole="['Boss','Admin','Seller']">
  <ul class="nav-ul">
    <li class="nav-ul-li" routerLinkActive="active" *appPermissionRole="['Boss','Admin']" >
      <a routerLink="/User" routerLinkActive="active">
        <i class="fa-solid fa-user nav-ul-li-i" aria-hidden="true">
    </i>
        <br>کاربران</a>
    </li>

    <li class="nav-ul-li" routerLinkActive="active" >
      <a routerLink="/Shop"><i class="fa-solid fa-shop nav-ul-li-i" aria-hidden="true">
      </i><br>فروشگاه</a>
    </li>

    <li class="nav-ul-li " *appPermissionRole="['Seller']"  routerLinkActive="active">
      <a routerLink="/Repository">
        <i class="fa-solid fa-layer-group nav-ul-li-i" aria-hidden="true">
        </i><br>انبار</a>
    </li>

    <li class="nav-ul-li" routerLinkActive="active" *appPermissionRole="['Boss','Admin']" >
      <a routerLink="/Store">
        <i class="fa-solid fa-handshake nav-ul-li-i" aria-hidden="true">
        </i><br>مغازه ها</a>
    </li>
    <li class="nav-ul-li" routerLinkActive="active" *appPermissionRole="['Seller']" >
      <a routerLink="/StoreUser">
        <i class="fa-solid fa-store nav-ul-li-i" aria-hidden="true">
        </i><br>مغازه</a>
    </li>

    <li class="nav-ul-li" routerLinkActive="active">
      <a routerLink="/Chat"><i class="fa fa-comments nav-ul-li-i" aria-hidden="true">
      </i><br>چت</a>
    </li>

    <li class="nav-ul-li" routerLinkActive="active">
      <a routerLink="/Commenting"><i class="fa fa-comment nav-ul-li-i" aria-hidden="true">
      </i><br>کامنت</a>
    </li>
    <li class="nav-ul-li" (click)="logout()" >
      <a ><i class="fa fa-door-open nav-ul-li-i" aria-hidden="true">
      </i><br>خروج</a>
    </li>
  </ul>
</nav>
