.body-component {
  width: 100%;
  margin-top: 50px;
  height: 87vh;

  .body-form {
    height: 86vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    .btn{
      width: 80%;
      background: #0074D9;
      font-size: 20px;
      border: 1px solid #ca3a11;
        padding: 10px;
      margin-top: 20px;
    }
    .body-input {
      margin-top: 30px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      label {
        font-size: 20px;
      }

      input {
        padding: 10px;
        width: 80%;
        height: 50px;
      }
    }
    .body-input-confirm {
      margin-top: 30px;
      display: flex;
      flex-flow: row;
      justify-items: center;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: 100%;

      label {
        font-size: 20px;
      }

      input {
        padding: 10px;
        width: 30px;
        height: 30px;
      }
    }
    .body-input-role {
      .body-nested-role{
        display: flex;
        align-items: baseline;
        .body-input-role{
          display: flex;
            margin-left: 5%;
          margin-right: 5%;
          .label-role{
            align-self: baseline;
          }
        }
      }
      margin-top: 30px;
      display: flex;
      flex-flow: column;
      justify-items: center;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: 100%;

      label {
        font-size: 20px;
      }

      input {
        padding: 10px;
        width: 30px;
        height: 30px;
      }
    }
  }
}
input {
  background: black;
  padding-right: 10px;
  color: white;
  margin: 5px 0;

  border: none;
  border-bottom: 2px solid saddlebrown;
  height: 50px;
  width: 80%;
  &:focus{
    outline: none;
  }}
