<nav class="nav">
  <ul class="nav-ul">
    <li class="nav-ul-li" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="./UserMain" routerLinkActive="active">
        <i class="fa-solid fa-users nav-ul-li-i" aria-hidden="true">
        </i>
        اصلی</a>
    </li>

    <li class="nav-ul-li" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="UserAdd"><i class="fa-solid fa-person-circle-plus nav-ul-li-i" aria-hidden="true">
      </i>افزودن</a>
    </li>
  </ul>
</nav>
