<div class="body">
  <form [formGroup]="offEditForm" (ngSubmit)="offEdit()">
    <div class="body-form">
      <div class="body-input">
        <label for="name">نام  تخفیف</label>
        <input type="text" placeholder="نام..." id="name" formControlName="name" [ngClass]="
                     offEditForm.controls.name.touched && offEditForm.controls.name.errors?.required
                     || offEditForm.controls.name.errors?.maxlength ||
                     offEditForm.controls.name.errors?.minlength ? 'input-error' :'input-success'">
        <div class="error"
             *ngIf="offEditForm.controls.name.errors?.required &&offEditForm.controls.name.touched">
          لطفا نام  تخفیف را وارد کنید !
        </div>
        <div class="error" *ngIf=" offEditForm.controls.name.hasError('maxlength')">تعداد
          کاراکتر ها نمیتواند بیشتر از 30 باشد !
        </div>
        <div class="error" *ngIf=" offEditForm.controls.name.hasError('minlength')">تعداد
          کاراکتر ها نمیتواند کمتر از 3 باشد !
        </div>
      </div>
      <div class="body-input">
        <label for="offPercent">درصد  تخفیف</label>
        <input type="number" placeholder="درصد تخفیف..." id="offPercent" formControlName="offPercent" [ngClass]="
                     offEditForm.controls.name.touched && offEditForm.controls.name.errors?.required
                     || offEditForm.controls.name.errors?.maxlength ||
                     offEditForm.controls.name.errors?.minlength ? 'input-error' :'input-success'">
        <div class="error"
             *ngIf="offEditForm.controls.name.errors?.required &&offEditForm.controls.name.touched">
          لطفا درصد  تخفیف را وارد کنید !
        </div>
        <div class="error" *ngIf=" offEditForm.controls.name.hasError('maxlength')">تعداد
          کاراکتر ها نمیتواند بیشتر از 30 باشد !
        </div>
        <div class="error" *ngIf=" offEditForm.controls.name.hasError('minlength')">تعداد
          کاراکتر ها نمیتواند کمتر از 3 باشد !
        </div>
      </div>
      <div class="body-input">
        <label for="description">توضیحات</label>
        <input type="text" placeholder="توضیحات..." id="description" formControlName="description" [ngClass]="
                     offEditForm.controls.description.touched && offEditForm.controls.description.errors?.required
                     || offEditForm.controls.description.errors?.maxlength ||
                     offEditForm.controls.description.errors?.minlength ? 'input-error' :'input-success'">
        <div class="error"
             *ngIf="offEditForm.controls.description.errors?.required &&offEditForm.controls.description.touched">
          لطفا توضیحات را وارد کنید !
        </div>
        <div class="error" *ngIf=" offEditForm.controls.description.hasError('maxlength')">تعداد
          کاراکتر ها نمیتواند بیشتر از 500 باشد !
        </div>
        <div class="error" *ngIf=" offEditForm.controls.description.hasError('minlength')">تعداد
          کاراکتر ها نمیتواند کمتر از 10 باشد !
        </div>
      </div>
      <div class="body-input">
        <label for="startDate">تاریخ شروع</label>
        <input type="date" placeholder="تاریخ شروع..." id="startDate" formControlName="startDate" [ngClass]="
                     offEditForm.controls.startDate.touched && offEditForm.controls.startDate.errors?.required
                     || offEditForm.controls.startDate.errors?.maxlength ||
                     offEditForm.controls.startDate.errors?.minlength ? 'input-error' :'input-success'">
        <div class="error"
             *ngIf="offEditForm.controls.startDate.errors?.required &&offEditForm.controls.startDate.touched">
          لطفا تاریخ شروع را وارد کنید !
        </div>
      </div>
      <div class="body-input">
        <label for="endDate">تاریخ پایان</label>
        <input type="date" placeholder="تاریخ پایان..." id="endDate" formControlName="endDate" [ngClass]="
                     offEditForm.controls.endDate.touched && offEditForm.controls.endDate.errors?.required
                     || offEditForm.controls.endDate.errors?.maxlength ||
                     offEditForm.controls.endDate.errors?.minlength ? 'input-error' :'input-success'">
        <div class="error"
             *ngIf="offEditForm.controls.endDate.errors?.required &&offEditForm.controls.endDate.touched">
          لطفا تاریخ پایان را وارد کنید !
        </div>
      </div>
      <button type="submit" class="btn" [disabled]="!offEditForm.valid || offEditForm.pristine" [ngClass]="!offEditForm.valid ? 'disable':''">ثبت تخفیف</button>
    </div>
  </form>
</div>
