<nav class="nav">
  <ul class="nav-ul">
    <a routerLink="./BrandMain">
      <li class="nav-ul-li" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="fa-solid fa-certificate nav-ul-li-i" aria-hidden="true">
        </i>
        برندها
      </li>
    </a>
    <a routerLink="./BrandAdd">
      <li class="nav-ul-li" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="fa-solid fa-plus-circle nav-ul-li-i" aria-hidden="true">
        </i>افزودن برند
      </li>
    </a>
  </ul>
</nav>
