<nav class="nav">
  <ul class="nav-ul">
    <li class="nav-ul-li" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="./BrandMain" routerLinkActive="active">
        <i class="fa-solid fa-certificate nav-ul-li-i" aria-hidden="true">
        </i>
        برندها </a>
    </li>

    <li class="nav-ul-li" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="./BrandAdd"><i class="fa-solid fa-plus-circle nav-ul-li-i" aria-hidden="true">
      </i>افزودن برند</a>
    </li>
  </ul>
</nav>
