<div style="overflow-y: auto">
  <div class="title-image" >
    <img src="{{backendUrlPicture}}/{{productPictureUrl}}" width="200px" height="200px">
  </div>
  <table>
    <thead>
    <tr>
      <th>نام</th>
      <th>مقدار</th>
      <th>عملیات</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let productItemDto of productItemDtos">
      <td>{{productItemDto.name}}</td>
      <td>{{productItemDto.value}}</td>
      <td>
        <div class="container-btn">
          <button class="btn-remove" (click)="productItemDelete(productItemDto.id)">حذف<i class="fa-solid fa-trash"></i></button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <table>
    <tbody>
    <tr *ngFor="let typeItemDto of typeItemDtos">
      <td>{{typeItemDto.name}}</td>
      <td>خالی</td>
      <td>
        <a routerLink="/ProductItem/ProductItemAdd" (click)="setNameToAdd(typeItemDto.name)">
          <button class="btn-edit">ایتم احتیاجی<i class="fa-solid fa-plus"></i></button>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

