<nav class="nav">
  <ul class="nav-ul">
    <li class="nav-ul-li" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="./TypeItemMain" routerLinkActive="active">
        <i class="fa-solid fa-list-squares nav-ul-li-i" aria-hidden="true">
        </i>
        ایتم ها </a>
    </li>

    <li class="nav-ul-li" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="./TypeItemAdd"><i class="fa-solid fa-plus nav-ul-li-i" aria-hidden="true">
      </i>افزودن ایتم</a>
    </li>
  </ul>
</nav>
