<div class="body-component">
  <form [formGroup]="typeEditForm" (ngSubmit)="inventoryEdit()">
    <div class="body-form">
      <div class="body-input">
        <label for="name">نام انبار</label>
        <input type="text" placeholder="نام..." id="name" formControlName="name" [ngClass]="
                     typeEditForm.controls.name.touched && typeEditForm.controls.name.errors?.required
                     || typeEditForm.controls.name.errors?.maxlength ||
                     typeEditForm.controls.name.errors?.minlength ? 'input-error' :'input-success'">
        <div class="error"
             *ngIf="typeEditForm.controls.name.errors?.required &&typeEditForm.controls.name.touched">
          لطفا نام دسته بندی را وارد کنید !
        </div>
        <div class="error" *ngIf=" typeEditForm.controls.name.hasError('maxlength')">تعداد
          کاراکتر ها نمیتواند بیشتر از 30 باشد !
        </div>
        <div class="error" *ngIf=" typeEditForm.controls.name.hasError('minlength')">تعداد
          کاراکتر ها نمیتواند کمتر از 3 باشد !
        </div>
      </div>
      <div class="body-role">
          <div  class="body-input-role">
            <label class="label-role" for="boss" >فعال؟:</label>
            <input type="checkbox" id="boss" formControlName="isActive">
          </div>
        </div>
      <button type="submit" class="btn" [disabled]="!typeEditForm.valid"   [ngClass]="!typeEditForm.valid ? 'disable':''">ثبت دسته بندی</button>
    </div>
  </form>
</div>
