
<nav class="nav">
  <ul class="nav-ul">
    <li class="nav-ul-li" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="./StoreUserPicture" routerLinkActive="active">
        <i class="fa-solid fa-image nav-ul-li-i" aria-hidden="true">
        </i>
        عکس </a>
    </li>
    <li class="nav-ul-li" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="StoreUserEdit"><i class="fa-solid fa-edit nav-ul-li-i" aria-hidden="true">
      </i>ادیت اطلاعات</a>
    </li>
  </ul>
</nav>
