.container-search {
  display: flex;

  .search-bar {
    width: 50%;
    height: 40px;

    .container-search-btn {
      width: 100%;
      height: 100%;
      position: relative;
      border: 1px solid black;
      .input-search {
        width: 100%;
        height: 100%;
        padding: 0 10px;
      }

      .btn-search {
        position: absolute;
        left: 0;
        height: 100%;
        width: 20%;
        background: black;
        color: burlywood;
        z-index: 2;
        font-size: 17px;
        &:hover {
          background: saddlebrown;
        }
      }
    }
  }
  .select-filters {
    width: 50%;
    display: flex;
    justify-content: space-between;
    select {
      width: 100%;
      font-size: 17px;
      text-align: center;
      background: lightblue;
      .option {
        background: lightblue;
      }
    }
  }
}

