<nav class="nav">
  <ul class="nav-ul">
    <a routerLink="./Type"  *appPermissionRole="['Admin','Boss']">
      <li class="nav-ul-li"  routerLinkActive="active">
        <i class="fa-solid fa-qrcode nav-ul-li-i" >
        </i>
        دسته بندی
      </li>
      </a>
    <a routerLink="./Brand"  *appPermissionRole="['Admin','Boss']">
      <li class="nav-ul-li"  routerLinkActive="active">
        <i class="fa-solid fa-certificate nav-ul-li-i"></i>
        برند
      </li>
      </a>
    <a routerLink="./Product"  *appPermissionRole="['Seller']">
      <li class="nav-ul-li"  routerLinkActive="active">
        <i class="fa-solid fa-clipboard-list nav-ul-li-i" >
        </i>محصول
      </li>
    </a>
    <a routerLink="./Off"  *appPermissionRole="['Seller']">
      <li class="nav-ul-li"  routerLinkActive="active">
        <i class="fa-solid fa-money-bill-wave nav-ul-li-i">
        </i>تخفیفات
      </li>
    </a>
  </ul>
</nav>
