.search-bar {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  .container-search-btn {
    background: black;
    width: 100%;
    height: 100%;
    position: relative;
    .input-search {
      width: 100%;
      height: 100%;
      padding: 0 10px;
    }
    .btn-search {
      position: absolute;
      left: 0;
      height: 100%;
      width: 20%;
      background: black;
      color: burlywood;
      z-index: 2;
      border: 1px solid black;
      font-size:17px;
      &:hover {
        background: saddlebrown;
      }
    }
  }
}

.select-filters {
  display: flex;
  justify-content: space-between;
    select {
      text-align: center;
      width: 33.33333%;
      height: 40px;
      font-size: 17px;
      background-color: lightblue;
      .option{
        background:lightblue;
      }
    }
  }

