<div class="body">
  <form [formGroup]="productEditForm" (ngSubmit)="productEdit()">
    <div class="body-form">
      <div class="body-input">
        <label for="typeId">انتخاب دسته بندی </label>
        <select class="select-list" name="typeId" formControlName="typeId" id="typeId">
          <option [ngValue]="null" disabled>انتخاب دسته بندی</option>
          <option *ngFor="let item of typesDto" [defaultSelected]="item.id == productDto?.typeId "
                  value="{{item.id}}">{{item.name}}</option>
        </select>
        <div class="error"
             *ngIf="productEditForm.controls.typeId.errors?.required ">
          لطفا دسته بندی را انتخاب کنید !
        </div>
      </div>
      <div class="body-input">
        <label for="inventoryId">انتخاب انبار</label>
        <select class="select-list" name="inventoryId" formControlName="inventoryId" id="inventoryId">
          <option [ngValue]="null" disabled>انتخاب انبار</option>
          <option *ngFor="let item of inventoriesDto" [defaultSelected]="item.id == productDto?.inventoryId "
                  value="{{item.id}}">{{item.name}}</option>
        </select>
        <div class="error"
             *ngIf="productEditForm.controls.inventoryId.errors?.required ">
          لطفا انبار را انتخاب کنید !
        </div>
      </div>
      <div class="body-input">
        <label for="name">نام </label>
        <input type="text" placeholder="نام..." (focusout)="slugify()" id="name" formControlName="name" [ngClass]="
                     productEditForm.controls.name.touched && productEditForm.controls.name.errors?.required
                     || productEditForm.controls.name.errors?.maxlength ||
                     productEditForm.controls.name.errors?.minlength ? 'input-error' :'input-success'">
        <div class="error"
             *ngIf="productEditForm.controls.name.errors?.required &&productEditForm.controls.name.touched">
          لطفا نام محصول را وارد کنید !
        </div>
        <div class="error" *ngIf=" productEditForm.controls.name.hasError('maxlength')">تعداد
          کاراکتر ها نمیتواند بیشتر از 30 باشد !
        </div>
        <div class="error" *ngIf=" productEditForm.controls.name.hasError('minlength')">تعداد
          کاراکتر ها نمیتواند کمتر از 3 باشد !
        </div>
      </div>
      <div class="body-input">
        <label for="slug">اسلاگ </label>
        <input type="text" placeholder="اسلاگ..." id="slug" formControlName="slug" [ngClass]="
                     productEditForm.controls.slug.touched && productEditForm.controls.slug.errors?.required
                     || productEditForm.controls.slug.errors?.maxlength ||
                     productEditForm.controls.slug.errors?.minlength ? 'input-error' :'input-success'">
        <div class="error"
             *ngIf="productEditForm.controls.slug.errors?.required &&productEditForm.controls.slug.touched">
          لطفا اسلاگ محصول را وارد کنید !
        </div>
        <div class="error" *ngIf=" productEditForm.controls.slug.hasError('maxlength')">تعداد
          کاراکتر ها نمیتواند بیشتر از 30 باشد !
        </div>
        <div class="error" *ngIf=" productEditForm.controls.slug.hasError('minlength')">تعداد
          کاراکتر ها نمیتواند کمتر از 3 باشد !
        </div>
      </div>
      <div class="body-input">
        <label for="price">قیمت </label>
        <input type="number" placeholder="قیمت..." id="price" formControlName="price" [ngClass]="
                     productEditForm.controls.price.touched && productEditForm.controls.price.errors?.required
                     || productEditForm.controls.price.errors?.maxlength ||
                     productEditForm.controls.price.errors?.minlength ? 'input-error' :'input-success'">
        <div class="error"
             *ngIf="productEditForm.controls.price.errors?.required &&productEditForm.controls.price.touched">
          لطفا قیمت محصول را وارد کنید !
        </div>
        <div class="error" *ngIf=" productEditForm.controls.price.hasError('maxlength')">تعداد
          کاراکتر ها نمیتواند بیشتر از 30 باشد !
        </div>
        <div class="error" *ngIf=" productEditForm.controls.price.hasError('minlength')">تعداد
          کاراکتر ها نمیتواند کمتر از 3 باشد !
        </div>
      </div>
      <div class="body-input">
        <label for="description">توضیحات</label>
        <input type="text" placeholder="توضیحات..." id="description" formControlName="description" [ngClass]="
                     productEditForm.controls.description.touched && productEditForm.controls.description.errors?.required
                     || productEditForm.controls.description.errors?.maxlength ||
                     productEditForm.controls.description.errors?.minlength ? 'input-error' :'input-success'">
        <div class="error"
             *ngIf="productEditForm.controls.description.errors?.required &&productEditForm.controls.description.touched">
          لطفا توضیحات را وارد کنید !
        </div>
        <div class="error" *ngIf=" productEditForm.controls.description.hasError('maxlength')">تعداد
          کاراکتر ها نمیتواند بیشتر از 500 باشد !
        </div>
        <div class="error" *ngIf=" productEditForm.controls.description.hasError('minlength')">تعداد
          کاراکتر ها نمیتواند کمتر از 10 باشد !
        </div>
      </div>
      <div class="body-input">
        <label for="metaDescription">توضیحات متا</label>
        <textarea placeholder="توضیحات متا..." id="metaDescription" formControlName="metaDescription" [ngClass]="
                     productEditForm.controls.metaDescription.touched && productEditForm.controls.metaDescription.errors?.required
                     || productEditForm.controls.metaDescription.errors?.maxlength ||
                     productEditForm.controls.metaDescription.errors?.minlength ? 'input-error' :'input-success'"></textarea>
        <div class="error"
             *ngIf="productEditForm.controls.metaDescription.errors?.required &&productEditForm.controls.metaDescription.touched">
          لطفا توضیحات متا را وارد کنید !
        </div>
        <div class="error" *ngIf=" productEditForm.controls.metaDescription.hasError('maxlength')">تعداد
          کاراکتر ها نمیتواند بیشتر از 500 باشد !
        </div>
        <div class="error" *ngIf=" productEditForm.controls.metaDescription.hasError('minlength')">تعداد
          کاراکتر ها نمیتواند کمتر از 10 باشد !
        </div>
      </div>
      <div class="body-input">
        <label for="summary">سامری</label>
        <input type="text" id="summary" formControlName="summary" [ngClass]="
                     productEditForm.controls.summary.touched && productEditForm.controls.summary.errors?.required
                     || productEditForm.controls.summary.errors?.maxlength ||
                     productEditForm.controls.summary.errors?.minlength ? 'input-error' :'input-success'">
        <div class="error"
             *ngIf="productEditForm.controls.summary.errors?.required &&productEditForm.controls.summary.touched">
          لطفا سامری را وارد کنید !
        </div>
        <div class="error" *ngIf=" productEditForm.controls.summary.hasError('maxlength')">تعداد
          کاراکتر ها نمیتواند بیشتر از 500 باشد !
        </div>
        <div class="error" *ngIf=" productEditForm.controls.summary.hasError('minlength')">تعداد
          کاراکتر ها نمیتواند کمتر از 10 باشد !
        </div>
      </div>
      <div class="body-input-check">
        <label class="label-role" for="boss">فعال؟</label>
        <input type="checkbox" id="boss" formControlName="isActive">
      </div>
      <button type="submit" class="btn" [disabled]="!productEditForm.valid || productEditForm.pristine"
              [ngClass]="!productEditForm.valid ? 'disable':''">اپدیت محصول
      </button>
    </div>
  </form>
</div>
