<nav class="nav">
  <ul class="nav-ul">
    <a routerLink="./OffMain">
      <li class="nav-ul-li" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="fa-solid fa-money-bills nav-ul-li-i" aria-hidden="true">
        </i>
        تخفیف ها
      </li>
    </a>
    <a routerLink="./OffAdd">
      <li class="nav-ul-li" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">

        <i class="fa-solid fa-money-bill-1 nav-ul-li-i" aria-hidden="true">
        </i>افزودن تخفیف
      </li>
    </a>
  </ul>
</nav>
