<nav class="nav">
  <ul class="nav-ul">
    <li class="nav-ul-li" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="./OffMain" routerLinkActive="active">
        <i class="fa-solid fa-money-bills nav-ul-li-i" aria-hidden="true">
        </i>
        تخفیف ها </a>
    </li>

    <li class="nav-ul-li" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="./OffAdd"><i class="fa-solid fa-money-bill-1 nav-ul-li-i" aria-hidden="true">
      </i>افزودن تخفیف</a>
    </li>
  </ul>
</nav>
