//ImportFonts
@import "assets/styles/fonts";
//ImportFontAwesome
@import "@fortawesome/fontawesome-free/css/all.min.css";
//toast
@import "node_modules/ngx-toastr/toastr.css";
//spinner
@import "node_modules/ngx-spinner/animations/line-scale-pulse-out.css";
//
@import "assets/styles/practicalClass";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: IRANSans;
}
a{
  text-decoration: none;
  color: inherit;
}
body {
  font-family: IRANSans, serif !important;
  position: relative;
}

