<div class="container-search">
  <div class="search-bar">
    <div class="container-search-btn">
      <input type="text" #searchPhoneNumber  class="input-search" placeholder="شماره تلفن..." (keyup.enter)="changePhoneSearch()">
      <button class="btn-search" (click)="changePhoneSearch()"><i class="fa fa-search"></i></button>
    </div>
    <div class="container-search-btn">
      <input type="text" #searchUserName  class="input-search" placeholder="نام..." (keyup.enter)="changeUserNameSearch()">
      <button class="btn-search" (click)="changeUserNameSearch()"><i class="fa fa-search"></i></button>
    </div>
  </div>
  <div class="select-filters">
      <select (change)="onChangeRoleType($any($event.target)?.value)">
        <option class="option" value="0">نقش</option>
        <option [selected]="item.key=== userParamDto?.roleType" class="option" *ngFor="let item of roleType" [value]="item?.key">{{item?.title}}</option>
      </select>
      <select (change)="onChangeSortType($any($event.target)?.value)">
        <option [selected]="item.key=== userParamDto?.sortType" class="option" *ngFor="let item of sortType" [value]="item?.key">{{item?.title}}</option>
      </select>
      <select (change)="onChangeConfirmedType($any($event.target)?.value)">
        <option class="option" value="0">تایید؟</option>
        <option [selected]="item.key=== userParamDto?.phoneNumberConfirmed" class="option" *ngFor="let item of phoneConfirmed" [value]="item?.key">{{item?.title}}</option>
      </select>
  </div>
</div>

