<div style="overflow-y: auto" class="result">

  <div class="title-type">
    <ng-container
      *ngFor="let item of productPicturesDto;let index=index;">{{index == 0 ? item.product : ""}}</ng-container>
  </div>
  <table>
    <thead>
    <tr>
      <th>فعال؟</th>
      <th>thumbnail</th>
      <th>عملیات</th>
      <th>ترتیب</th>
      <th>Title</th>
      <th>Alt</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of productPicturesDto">
      <td>
        <i style="color:green" class="fa-solid fa-check" *ngIf="item.isActive"></i>
        <i style="color:red" class="fa-solid fa-xmark" *ngIf="!item.isActive"></i>
      </td>
      <td>
        <img class="picture" src="{{backendUrlPicture}}{{item.pictureUrl}}" alt="{{item.pictureAlt}}" title="{{item.pictureTitle}}" width="100px" height="100px">
      </td>
      <td>
        <div class="container-btn">
          <a routerLink="../ProductPictureEdit/{{item.id}}">
            <button class="btn-edit">اپدیت<i class="fa-solid fa-pen"></i></button>
          </a>
          <button class="btn-remove" (click)="productPictureDelete(item.id)">حذف<i class="fa-solid fa-trash"></i>
          </button>
        </div>
      </td>
      <td>{{item.sort}}</td>
      <td>{{item.pictureTitle}}</td>
      <td>{{item.pictureAlt}}</td>
    </tr>
    </tbody>
  </table>
</div>
