$sm:567;
$md:768px;
$lg:992px;
$xl:1200px;

$color-black:black;
$color-black-a1:rgba(0,0,0,0.1);
$color-black-a2:rgba(0,0,0,0.2);
$color-black-a3:rgba(0,0,0,0.3);
$color-black-a4:rgba(0,0,0,0.4);
$color-black-a5:rgba(0,0,0,0.5);
$color-black-a6:rgba(0,0,0,0.6);
$color-black-a7:rgba(0,0,0,0.7);
$color-black-a8:rgba(0,0,0,0.8);
$color-black-a9:rgba(0,0,0,0.9);






$color-coral:coral;
$color-burlywood:burlywood;
$color-saddlebrown:saddlebrown;


$color-brown-a7:rgba(133,101,80,0.7);


$color-brown-2-a4:rgba(200,100, 1, .4);
$color-brown-2-a5:rgba(200,100, 1, .5);
$color-brown-2-a6:rgba(200,100, 1, .6);
$color-brown-2-a7:rgba(200,100, 1, .7);
$color-brown-2-a8:rgba(200,100, 1, .8);


$color-white-a4:rgba(255,255,255,.4);
$color-white-a5:rgba(255,255,255,.5);
$color-white-a6:rgba(255,255,255,.6);
$color-white-a7:rgba(255,255,255,.7);
$color-white:white;
