.bg-red{
  background: red;
}
.bg-green{
  background: green;
}



.input-success{
  border: 1px solid green !important;
}
.input-error{
  border: 1px solid red !important;
}
.disable{
  opacity: 0.3;
}
.error{
  color: red;
  margin: 10px 0;
}
