<div class="body-component">
  <form [formGroup]="colorAddForm" (ngSubmit)="colorAdd()">
    <div class="body-form">
      <div class="body-input">
        <label for="name">نام  رنگ</label>
        <input type="text" placeholder="نام رنگ..." id="name" formControlName="name" [ngClass]="
                     colorAddForm.controls.name.touched && colorAddForm.controls.name.errors?.required
                     || colorAddForm.controls.name.errors?.maxlength ||
                     colorAddForm.controls.name.errors?.minlength ? 'input-error' :'input-success'">
        <div class="error"
             *ngIf="colorAddForm.controls.name.errors?.required &&colorAddForm.controls.name.touched">
          لطفا نام  رنگ را وارد کنید !
        </div>
        <div class="error" *ngIf=" colorAddForm.controls.name.hasError('maxlength')">تعداد
          کاراکتر ها نمیتواند بیشتر از 30 باشد !
        </div>
        <div class="error" *ngIf=" colorAddForm.controls.name.hasError('minlength')">تعداد
          کاراکتر ها نمیتواند کمتر از 3 باشد !
        </div>
      </div>
      <div class="body-input">
        <label for="value">انتخاب رنگ</label>
        <input type="color" placeholder="رنگ..." id="value" formControlName="value" [ngClass]="
                     colorAddForm.controls.value.touched && colorAddForm.controls.value.errors?.required? 'input-error' :'input-success'">
        <div class="error"
             *ngIf="colorAddForm.controls.value.errors?.required &&colorAddForm.controls.value.touched">
          لطفا رنگ را وارد کنید !
        </div>
      </div>
      <button type="submit" class="btn" [disabled]="!colorAddForm.valid" [ngClass]="!colorAddForm.valid ? 'disable':''">ثبت رنگ</button>
    </div>
  </form>
</div>

