
<nav class="nav">
  <ul class="nav-ul">
    <li class="nav-ul-li" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="./Inventory" routerLinkActive="active">
        <i class="fa-solid fa-cubes nav-ul-li-i" aria-hidden="true">
        </i>
        انبار</a>
    </li>
    <li class="nav-ul-li" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="InventoryAdd"><i class="fa-solid fa-cubes-stacked nav-ul-li-i" aria-hidden="true">
      </i>گزارش</a>
    </li>
  </ul>
</nav>
